In [1]:
import os
import pandas as pd

In [2]:
WORKING_DIR = '/opt/ml/TVControlHandGestureRecognition/'
DATASET_PATH = os.path.join(WORKING_DIR, 'dataset/finger_language/')
VIDEO_PATH = os.path.join(DATASET_PATH, 'train/')

In [3]:
person_id_list = sorted([dir for dir in os.listdir(VIDEO_PATH) if os.path.isdir(os.path.join(VIDEO_PATH, dir))])

person_id_series = []
camera_id_series = []
label_series = []
path_series = []

for person_id in person_id_list:
    person_id_path = os.path.join(VIDEO_PATH, person_id)
    camera_id_list = sorted(os.listdir(person_id_path))

    for camera_id in camera_id_list:
        camera_id_path = os.path.join(person_id_path, camera_id)
        video_list = sorted(os.listdir(camera_id_path))

        for video in video_list:
            person_id_series.append(int(person_id))
            camera_id_series.append(int(camera_id))
            label_series.append(int(video.split('.')[0]))
            path_series.append(os.path.join(camera_id_path, video))

In [4]:
df = pd.DataFrame(
    {
        'person_id' : person_id_series,
        'camera_id' : camera_id_series,
        'label' : label_series,
        'path' : path_series
    },
    columns=['person_id', 'camera_id', 'label', 'path']
)

In [5]:
def path_to_rel(p):
    p = p.split('finger_language/')[-1]
    p = os.path.join('./', p)

    return p

In [6]:
df['path'] = df['path'].apply(path_to_rel)

In [7]:
df = df.sort_values(['person_id', 'camera_id', 'label'])

In [8]:
df.head()

   person_id  camera_id  label                path
0          1          1     22  ./train/1/1/22.mov
1          1          1     24  ./train/1/1/24.mov
2          1          1     25  ./train/1/1/25.mov
3          1          1     27  ./train/1/1/27.mov
4          1          1     28  ./train/1/1/28.mov

In [9]:
df.tail()

      person_id  camera_id  label                 path
3803         40          5     62  ./train/40/5/62.mov
3804         40          8     46  ./train/40/8/46.mov
3805         40          8     47  ./train/40/8/47.mov
3806         40          8     48  ./train/40/8/48.mov
3807         40          8     49  ./train/40/8/49.mov

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4348 entries, 0 to 3807
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   person_id  4348 non-null   int64
 1   camera_id  4348 non-null   int64
 2   label      4348 non-null   int64
 3   path       4348 non-null   object
dtypes: int64(3), object(1)
memory usage: 169.8+ KB

In [11]:
df.index.name = 'id'
df.to_csv(os.path.join(DATASET_PATH, 'train.csv'))